body {
  width: 80%;
  margin: auto;
  background: #f3f3f3;;
}

.unit-container {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  margin: 0;
  padding: 20px;
  justify-content: center;
}

.unit {
  overflow: hidden;
  border-radius: 20px;
  background: grey;
  display: flex;
  position: relative;
}

.unit > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.unit-container span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unit-container span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    color: #fff;
    font-size: 40px;
    transition: opacity .4s linear
}

.unit-container span:hover {
    opacity: 1;
}

#travelling-unit-body {
  font-size: 14pt;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.exercise-top {
  background: white;
  cursor: pointer;
  padding: 10px;
}

.exercise-bottom {
  background: white;
  display: none;
  padding: 10px;
  line-height: 32px;
  width: 80%;
  margin: auto;
}

.exercise-bottom h4 {
  font-style: italic;
}

.exercise {
  width: 75%;
  margin: 15px auto;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  border: thin solid darkred;
}

.show {
  display: block;
  border-top: thin solid grey;
}

.video {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.video iframe {
  width: 560px;
  max-width: 95%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.exercise-bottom span {
  color: red;
  font-weight: bold;
}

.exercise-bottom p {
  
}